# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Build Files
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Misc
*.local