# Node
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Coverage
coverage/

# Misc
*.local

.postman/

*.test.js