PORT=5000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=30m


ENCRYPTION_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
APP_URL=https://api.srikesav.site
FRONTEND_URL=https://secure-share-lime.vercel.app
CLAMAV_REQUIRED=false
CLAMAV_DAEMON_COMMAND=clamdscan
CLAMAV_SCAN_TIMEOUT_MS=30000
CLAMAV_DATABASE_DIR=/var/lib/clamav
